$primary-color = #409EFF;
$primary-background-color = #ecf5ff;

// 覆盖element-ui样式
.el-container {
  height: 100% !important;
  justify-content: center;
}

// 覆盖element-ui样式 end
:not(.form-edit-wrapper)::-webkit-scrollbar {
  display: none;
}

.home {
  height: calc(100% - 70px);
  user-select: none;

  .form-edit-wrapper {
    display: flex !important;
    max-width: calc(40vw + 720px);
    overflow: auto;
    flex: auto;
  }
}

.center-container {
  min-width: 400px;
  max-width: 720px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;

  .btn-bar {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    border-bottom: solid 2px #e4e7ed;
    text-align: right;
  }

  .el-main {
    padding: 0;
    position: relative;
  }
}

.components-list {
  padding: 8px 0;
  width: 100%;
  height: 100%;

  .widget-cate {
    padding: 8px 12px;
    font-size: 13px;
  }

  ul {
    position: relative;
    overflow: hidden;
    padding: 0 10px 10px;
    margin: 0;
  }

  .ghost {
    background: #fff;
    border: 1px dashed $primary-color;

    &::after {
      background: #fff;
    }
  }

  .form-edit-widget-label {
    font-size: 12px;
    display: block;
    width: 48%;
    line-height: 30px;
    position: relative;
    float: left;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1%;
    color: #333;
    border: 1px solid #F4F6FC;
    text-align: center;

    &:hover {
      color: $primary-color;
      border: 1px dashed $primary-color;
    }

    & > a {
      display: block;
      cursor: move;
      background: #F4F6FC;
    }
  }
}