$primary-color: #409EFF;
$primary-background-color: #ecf5ff;

:not(.form-edit-wrapper)::-webkit-scrollbar {
	display: none;
}
.home {
	height: calc(100% - 70px);
	user-select: none;

	.form-edit-wrapper {
		display: flex !important;
		max-width: 1320px;
		overflow: auto;
		flex: auto;
	}
}

.center-container {
	min-width: 400px;
	max-width: 720px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;

	.btn-bar {
		height: 45px;
		line-height: 45px;
		font-size: 18px;
		border-bottom: solid 2px #e4e7ed;
		text-align: right;
	}

	.el-main {
		padding: 0;
		position: relative;
	}
}

.components-list {
	padding: 8px 0;
	width: 100%;
	height: 100%;

	.widget-cate {
		padding: 8px 12px;
		font-size: 13px;
	}

	ul {
		position: relative;
		overflow: hidden;
		padding: 0 10px 10px;
		margin: 0;
	}

	.ghost {
		background: #fff;
		border: 1px dashed $primary-color;

		&::after {
			background: #fff;
		}
	}
	.form-edit-widget-label {
		font-size: 12px;
		display: block;
		width: 48%;
		line-height: 30px;
		position: relative;
		float: left;
		left: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 1%;
		color: #333;
		border: 1px solid #F4F6FC;
		text-align: center;

		&:hover {
			color: $primary-color;
			border: 1px dashed $primary-color;
		}

		& > a {
			display: block;
			cursor: move;
			background: #F4F6FC;
		}
	}
}

.widget-config-container {
	position: relative;

	.el-header {
		border-bottom: solid 2px #e4e7ed;
		padding: 0 5px;
	}

	.config-tab {
		height: 45px;
		line-height: 45px;
		display: inline-block;
		width: 145px;
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		position: relative;
		cursor: pointer;

		&.active {
			border-bottom: solid 2px $primary-color;
		}
	}

	.config-content {
		padding: 10px;

		.el-form-item__label {
			padding: 0;
			font-weight: 500;
		}

		.el-form-item {
			border-bottom: solid 1px #e1e1e1;
			padding-bottom: 10px;
		}
	}

	.ghost {
		background: #fff;
		border: 1px dashed $primary-color;

		&::after {
			background: #fff;
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	li.ghost {
		list-style: none;
		font-size: 0;
		display: block;
		position: relative;
	}
}

.avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.avatar-uploader .el-upload:hover {
	border-color: $primary-color;
}
.avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 1px dashed #d9d9d9;
}
.avatar {
	width: 100px;
	height: 100px;
	display: block;
}