$t1-base-color = #409EFF;
$t2-base-color = #fe7c01;
$t3-base-color = #6e7786;

.theme1 {
  width: 92%;
  background-color: #fff;
  margin: 0 auto 20px auto;
  padding: 10px 0;
}

.theme2 {
  width: 92%;
  background-color: #fff;
  margin: 0 auto 20px auto;
  padding: 10px 0;
}

.theme3 {
  width: 92%;
  background-color: #fff;
  margin: 0 auto 20px auto;
  padding: 10px 0;
}