.theme1 {
  .widget-child-form-list {
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 10px 0 rgba(116, 116, 116, 0.6), -5px 5px 10px 0 rgba(116, 116, 116, 0.6);
  }
}

.theme2 {
  .widget-form-list {
    .widget-child-form-list {
      position: relative;
      background: #fff;
      padding: 10px;
    }

    .wg-title:after {
      content: '*';
      color: #e10012;
      font-weight: 700;
      font-size: 14px;
    }

    .wg-input, .wg-select {
      border: none;
    }

    .widget-view:not(:last-child) .wg-item {
      border-bottom: 1px solid #ddd;
    }

    .widget-view .wg-item:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
  }
}

.theme3 {
  .widget-form-list {
    .widget-child-form-list {
      position: relative;
      background: #fff;
      padding: 10px;
    }

    .wg-title:after {
      content: '*';
      color: #e10012;
      font-weight: 700;
      font-size: 14px;
    }

    .wg-input, .wg-select {
      border-radius: 10px;
      padding: 0 10px;
      border: 1px solid #a92200;
    }
  }
}