$primary-color = #409EFF;
$primary-background-color = #d8e8fa;

.widget-form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .widget-form-container {
    width: 375px;
    min-height: 640px;
    margin: 20px auto;
    -webkit-box-shadow: 0 2px 5px 1px hsla(0,0%,48.6%,.2);
    box-shadow: 0 2px 5px 1px hsla(0,0%,48.6%,.2);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;

    img {
      vertical-align: top;
    }

    .widget-empty {
      background-image: url('../assets/img/form_empty.png');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 66%;
    }
  }

  .widget-form-list {
    min-height: 360px;

    .ghost {
      background: #fff;
      border: 1px dashed $primary-color;

      &::after {
        background: #fff;
      }
    }

    li.ghost {
      position: relative;
      line-height: 30px;
      list-style: none;
      font-size: 0;

      &::after {
        content: '放到这里';
        display: block;
        background: #fff;
        position: absolute;
        left: 50%;
        margin-left: -32px;
        top: 0;
        font-size: 16px;
        color: #999;
        z-index: 10;
      }
    }
  }

  .widget-action-delete {
    position: absolute;
    right: 10px;
    bottom: -20px;
    z-index: 1009;
  }

  .widget-action-clone {
    position: absolute;
    right: 70px;
    bottom: -20px;
    z-index: 1009;
  }

  .widget-view.no-padding {
    padding: 0;

    .img-placeholder {
      background: #f1f1f1;
    }
  }

  .widget-child-form-list {
    position: relative;
    transition: 0.2s;
    padding: 10px;

    .el-icon-rank {
      display: none;
      position: absolute;
      left: -28px;
      top: 15px;
      font-size: 24px;
      padding: 2px;
      background-color: #409eff;
      color: #fff;
      z-index: 1001;
      cursor: move;
    }

    &:hover {
      box-shadow: 0px 1px 10px 1px #90c7ff inset;

      .el-icon-rank {
        display: block;
      }
    }

    &.active {
      box-shadow: 0px 1px 10px 1px #90c7ff;
      z-index: 1111;

      .el-icon-rank {
        display: block;
      }
    }
  }

  .widget-view {
    margin: 0;
    padding: 5px 10px;
    // background: #fff;
    position: relative;

    // border: 2px solid transparent
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: block;
      z-index: 1001;
    }

    input::-webkit-input-placeholder {
      color: #666;
      opacity: 1;
    }

    &:hover {
      box-shadow: 0px 1px 10px 1px #90c7ff inset;
      // background: #ecf5ff;
      // border: 2px dotted #90c7ff
    }

    &.active {
      // background: $primary-background-color;
      box-shadow: 0px 1px 10px 1px #90c7ff;
      z-index: 1111;
    }

    .wg-item {
      display: flex;
      line-height: 50px;
    }

    .wg-phone {
      .getVerCode-btn {
        outline: 0;
        font-size: 12px;
        height: 36px;
        min-width: 100px;
        margin-top: 5px;
        margin-left: 10px;
        cursor: pointer;
        border: 1px solid transparent;
      }
    }

    .wg-staticText {
      line-height: 1.6;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 0 0;
    }

    .wg-input, .wg-select {
      width: 100%;
      height: 40px;
      margin: 5px 0;
      color: #666;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #ddd;
      outline: none;
      text-indent: 10px;
      // background: #fff;
      transition: 0.3s;
    }

    .wg-title {
      font-size: 14px;
      margin-right: 10px;
      color: #333;
    }

    .wg-checkbox {
      .label {
        float: left;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
      }

      .label > span {
        background: #fff;
        padding: 8px 15px;
        border-radius: 10px;
        border: 1px solid #ddd;
      }

      .wg-checkbox-input:checked + span {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
      }
    }

    .wg-switch {
      .label {
        display: flex;
        cursor: pointer;
      }

      .wg-switch-core {
        display: inline-block;
        position: relative;
        margin: 0;
        width: 40px;
        height: 20px;
        border: 1px solid #dcdfe6;
        outline: 0;
        border-radius: 10px;
        box-sizing: border-box;
        background: #dcdfe6;
        transition: border-color 0.3s, background-color 0.3s;
      }

      .wg-switch-core:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 100%;
        transition: all 0.3s;
        width: 16px;
        height: 16px;
        background-color: #fff;
      }

      .wg-switch-input:checked + span {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
      }

      .wg-switch-input:checked + span::after {
        left: 100%;
        margin-left: -17px;
      }
    }

    .wg-button {
      width: 90%;
      margin: 15px 5%;
      // background: $primary-color;
      color: #fff;
      height: 46px;
      line-height: 46px;
      font-size: 18px;
      outline: none;
      border: none;
      letter-spacing: 2px;
      border-radius: 20px;
      text-align: center;
      // box-shadow: 0 3px 10px 1px #90c7ff;
    }

    .wg-horizontal-picker {
      border: 1px solid #999;
      border-radius: 20px;
      overflow: hidden;
      white-space: nowrap;
      height: 36px;
      line-height: 36px;
      margin: 0;
      padding: 0;

      .picker-item {
        height: 100%;
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #707274;
        box-sizing: border-box;
        backface-visibility: hidden;
      }
    }

    .wg-imgshow {
      margin: -5px -10px;

      .img-placeholder {
        background: #f1f1f1;
      }
    }

    .wg-imgslide {
      margin: -5px -10px;
      text-align: center;

      .el-carousel__container {
        height: 100%;
      }

      .el-carousel__item {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
      }

      .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
      }
    }

    .wg-splitLine .splitLine-hr {
      border: 0 none;
      border-top: 1px solid #d3d3d3;
    }
  }
}